@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* @plugin 'tailwindcss-animate'; */
@import "tailwindcss";
/* @import "tw-animate-css"; */

/* @custom-variant dark (&:is(.dark *)); */

#root {
    scroll-behavior: smooth;
}

*{
    font-family: "Outfit", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #787777 #1e1e1e;
}

@keyframes wave {
  0% { transform: translateY(0); opacity: 0.5; }
  50% { transform: translateY(-12px); opacity: 1; }
  100% { transform: translateY(0); opacity: 0.5; }
}

.animate-wave {
  animation: wave 0.8s ease-in-out infinite;
}


