@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* @plugin 'tailwindcss-animate'; */
@import "tailwindcss";
/* @import "tw-animate-css"; */

/* @custom-variant dark (&:is(.dark *)); */

#root {
    scroll-behavior: smooth;
}

*{
    font-family: "Outfit", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #787777 #1e1e1e;
}

@keyframes wave {
  0% { transform: translateY(0); opacity: 0.5; }
  50% { transform: translateY(-12px); opacity: 1; }
  100% { transform: translateY(0); opacity: 0.5; }
}

.animate-wave {
  animation: wave 0.8s ease-in-out infinite;
}

@keyframes rotate {
                    100% {
                        transform: rotate(1turn);
                    }
                }
            
                .rainbow::before {
                    content: '';
                    position: absolute;
                    z-index: -2;
                    left: -50%;
                    top: -50%;
                    width: 200%;
                    height: 200%;
                    background-position: 100% 50%;
                    background-repeat: no-repeat;
                    background-size: 50% 30%;
                    filter: blur(6px);
                    background-image: linear-gradient(#e20875,#ee6c09);
                    animation: rotate 4s linear infinite;
                }

.pulse-marker {
          position: relative;
        }
        .pulse-marker::after {
          content: "";
          position: absolute;
          inset: -6px;
          border-radius: 9999px;
          background: rgba(34, 197, 94, 0.4);
          animation: pulse 1.5s infinite;
        }
        @keyframes pulse {
          from { transform: scale(0.8); opacity: 1; }
          to { transform: scale(1.8); opacity: 0; }
        }

